/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular; 
    src: url(./assets/fonts/Muli-Regular.woff); 
}
@font-face {
    font-family: MuliBold; 
    src: url(./assets/fonts/Muli-Bold.woff); 
}
@font-face {
    font-family: MuliExtraBold; 
    src: url(./assets/fonts/Muli-ExtraBold.woff); 
}

@font-face {
    font-family: MuliExtraBoldItalic; 
    src: url(./assets/fonts/Muli-ExtraBoldItalic.woff); 
}
@font-face {
    font-family: PoppinsMedium; 
    src: url(./assets/fonts/Poppins-Medium.ttf); 
}
font-face {
    font-family: PoppinsSemiBold; 
    src: url(./assets/fonts/Poppins-SemiBold.ttf); 
}


/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Header */
.header{
    display: flex;
    width: 1920px;
    height: 1080px;
    background-image: url(../img/header.png);
    display: flex;
}
.header__top{
    width: 1920px;
    height: 246px;
    display: flex;
    flex-direction: row;

}

.menu__link{
    font-family: MuliBold;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.32px;
}

.btn--green-bg:after{
    content: "\2192";
    color: orange;
}
    .header__content{
        
    }

/* Smoothies */

/* About */


.btn--border-orange:after{
    content: "\2192";
    color: orange;
}
/* Products */
.btn--border-white:after{
    content: "\2192";
}

/* Story */


/* Testimonials */
.testimonials__img:after{
    content: "\2190 \2192";
    color: orange;
}


/* Blog */


/* Instagram */


/* Footer */



/* Здесь будут медиа запросы */





