/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular; 
    src: url(../assets/fonts/Muli-Regular.woff); 
}
@font-face {
    font-family: MuliBold; 
    src: url(../assets/fonts/Muli-Bold.woff); 
}
@font-face {
    font-family: MuliExtraBold; 
    src: url(../assets/fonts/Muli-ExtraBold.woff); 
}

@font-face {
    font-family: MuliExtraBoldItalic; 
    src: url(../assets/fonts/Muli-ExtraBoldItalic.woff); 
}
@font-face {
    font-family: PoppinsMedium; 
    src: url(../assets/fonts/Poppins-Medium.ttf); 
}
@font-face {
    font-family: PoppinsSemiBold; 
    src: url(../assets/fonts/Poppins-SemiBold.ttf); 
}
@font-face{
    font-family: MuliBlack; 
    src: url(../assets/fonts/Muli-Black.ttf);
}
@font-face{
    font-family: MuliItalic; 
    src: url(../assets/fonts/Muli-Italic.ttf);
}
@font-face{
    font-family: MuliSemiBoldItalic; 
    src: url(../assets/fonts/Muli-SemiBoldItalic.ttf);
}


/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
}

/* Header */
.header{
    height: 100vh;
    width: 100%;
    background-image: url(../img/header_bg.png) ;
    background-position: center;
    background-size: cover;
}
.header__top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 69px 0 105px;
}

.menu__list{
    display: flex;
}    
.menu__list-item{
    margin-right: 32px;
}
.menu__list-item:last-child{
    margin-right: 0;
}
.menu__link{
    font-family: "MuliBold";
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.32px;    
}

.header__logo{
    position: relative;
    right: 62px;
}

.header__block-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__personal{
    position: relative;
}
.personal__list{
    display: flex;
    padding-right: 120px;
}
.personal__list::after{
    content: "";
    display: inline-block;
    background-color:#ffd68f;
    width: 47px;
    height: 2px;
    position: absolute;
    right: 33px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.personal__list-item{
    display: flex;
    margin-right: 45px;
}
.personal__list-item:last-child{
    margin-right: 0;
}
.personal__link-cart{
    position: relative;
}

.personal__cart-count{
    font-family: "MuliRegular";
    width: 18px;
    height: 18px;
    font-size: 10px;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    position: absolute;
    right: 105px;
    top: -10px;
}
.social__list{
    display: flex;
}
.social__list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 10px;
    line-height: 0.5;
    z-index: 233;
}
.social__list-item:last-child{
    margin-right: 0;
}

.header__content{
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: "MuliExtraBold";
    color: rgb(255, 255, 255);
    font-size: 21px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.header__btn{
    height: 70px;
    width: 280px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    -webkit-border-radius: 35px;
    font-size: 24px;    
}
.btn--green-bg{
background-color:#0aa566;
}
.btn--green-bg:after{
    content: "\2192";
    color: #fcb438;
}


/* Smoothies */
.smoothies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:98px 0 107px;
}
.smoothies__title{
    margin-bottom: 55px;
}
.title{
    font-family: "MuliExtraBold";
    font-size: 50px;
}
.title--yellow{
    color: #f7ae3b;
    letter-spacing: -1px;    
}
.smoothies_text{
    max-width: 915px;
    text-align: center;
    line-height: 1.94;
    margin-bottom: 87px;    
}
.text{
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 35px;
}
.text--black{
    color: #1e1e1e;
}
.smoothies__views{
    display: grid;
    grid-template-rows: repeat(2, 181px);
    grid-template-columns: repeat(4, 240px);
}

.smoothies__view-item:nth-child(-n+3){
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}
.smoothies__view-item:nth-child(4){
    border-bottom: 2px solid #f6edde;
}
.smoothies__view-item:nth-child(5){
    border-right: 2px solid #f6edde;
}
.smoothies__view-item:nth-child(6){
    border-right: 2px solid #f6edde;
}
.smoothies__view-item:nth-child(7){
    border-right: 2px solid #f6edde;
}
.smoothies__view-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.smoothies__img{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.smoothies__description{
    font-family: "MuliExtraBold";
    font-size: 25px;
    color: #f2612d;
    text-align: center;
}

/* About */
.about{
    background-color: #14826f;
    display: flex;
    padding: 64px 339px 0 143px ;
    height: 805px;
}
.properties{
    padding-top: 30px;
    margin-left: 142px;
}
.about__img{
    height: 818px;
    width: 691px;
    position: relative;
    z-index: 99;
}
.title--white{
    color: #ffffff;
    font-size: 55px;
    margin-bottom: 60px;
    line-height: 60px;
    letter-spacing: -1.1px;
    width: 590px;
}
.title--green{
    color: #cae941;
    position: relative;
}
.title--green::after{
    content: "";
    display: inline-block;
    background-image: url("../img/line.png");
    width: 450px;
    height: 13px;
    position: absolute;
    top: 65px;
    transform: translateX(-95%);
    -webkit-transform: translateX(-95%);
    -moz-transform: translateX(-95%);
    -ms-transform: translateX(-95%);
    -o-transform: translateX(-95%);
}
.properties__list{
    margin-bottom: 50px;
    list-style-image: url(../img/marker.png);
    margin-left: 37px;
}
.properties__list-item{
    font-family: "MuliRegular";
    font-size: 21px;
    color: #ffffff;    
    margin-bottom: 22px;
}
.properties__bold{
    font-family: "MuliBlack";
}
.btn--border-orange{
    height: 60px;
    width: 380px;
    background-color: transparent;
    border: solid 2px #f8b231;
    
}
.btn--border-orange:after{
    content: "\2192";
    color: #fcb438;
}
/* Products */
.products__items{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}
.products__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 129px 0 79px;
}
.products__img{
    margin-bottom: 34px;
}
.products_item--dark{
    background-color: #632b17 ;
}
.products_item--lemon{
    background-color: #f7ae3b ;
}
.products_item--vegan{
    background-color: #178670 ;
}
.products_item--turmeric{
    background-color: #c3471b;
}
.products__description{
    font-family: "MuliBold";
    font-size: 24px;
    color: #ffffff;
}
.products__capacity{
    font-family: "MuliItalic";
    font-size: 21px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 65px;
}
.btn--border-white{
    height: 60px;
    width: 204px;
    background-color: transparent;
    border: solid 2px #ffffff;

}
.btn--border-white:after{
    content: "\2192";
}

/* Story */
.story{
    padding: 120px 0 160px;
    display: flex;
    justify-content: center;
    padding: 120px 0 160px;
}
.stoty__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.story__text{
    max-width: 511px;
    margin: 43px 206px 60px 0;
}

.story__btn{
    height: 60px;
    width: 301px;
}
.story__img-wrapper{
    position: relative;
}
.story__img-wrapper::after{
    content: "";
    display: inline-block;
    background-image: url("../img/stamp.png");
    position: absolute;
    width: 290px;
    height: 216px;
    top: 22px;
    right: 460px;
}

/* Testimonials */

.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #672f1b;
    padding: 117px 0 80px;
    position: relative;
}

.testimonials::before{
    content: "";
    display: inline-block;
    background-image: url("../img/dots.png");
    width: 410px;
    height: 301px;
    position: absolute ;
    top: -80px;
    right: 58px;
}

.testimonials__title{
    margin-bottom:  118px;
}
.title--orange{
    color: #f2612d;
}
.testimonials__content{
    position: relative;
    display: flex;
    margin-bottom: 121px;
}
.testimonials__content::before{
    content:"";
    display: inline-block;
    background-image: url("../img/sarah.png");
    width: 764px;
    height: 148px;
    position: absolute;
    z-index: 1;
    right: 125px;
    bottom: 105px;
}
.testimonials__feedback{
    max-width: 455px;
    text-align: center;
    margin-right: 59px;
    padding-top: 55px;
    z-index: 2;
}
.testimonials__img{
    z-index: 2;
}

.testimonials__quote{
    font-family: "MuliSemiBoldItalic";
    color: #f7ae3b;
    line-height: 45px;
}
.testimonials__arrows{
    display: flex;
}
.testimonials__arrow-left{
    margin-right: 98px;
    background-color: transparent;
}
.testimonials__arrow-right{
    background-color: transparent;
}
.text--white{
    color: #ffffff;
}
/* .testimonials__img:after{
    content: "\2190 \2192";
    color: #fcb438;
} */


/* Blog */

.blog__top{
    padding-top: 99px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;


}
.blog__title{
    margin-bottom: 50px ;
}

.blog__content{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}
.blog__article{
    padding-top: 229px;
    margin-left: 61px;
    position: relative;
    z-index: 2;
}
.blog__article::before{
    content: "";
    display: inline-block;
    background-image:url("../img/line-blog.png");
    width: 687px;
    height: 12px;
    position: absolute;
    top: 180px;
    left: -100px;
    z-index: 1;

}
.blog__subtitle{
    font-family: "MuliExtraBold";
    font-size: 30px;
    line-height: 40px;
    color:#f2612d;
    text-transform: uppercase;
    letter-spacing: -0.6px;
}
.blog__date{
    font-size: 16px;
}

.blog__text{
    max-width: 472px;
    margin-left: 63px;
}
.text__more{
    font-family: "MuliExtraBoldItalic";
    color: #1e1e1e;
}
.text__more::after{
    content: "\2192";
    color: #fcb438;
    margin-left: 5px;
}
.blog__instagram{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}
.blog__instagram-link{
    font-family: "MuliExtraBold";
    font-size: 24px;
    color: #0aa566;
    line-height: 40px;
    text-align: center;    
}
.blog__instagram-img{
    vertical-align: middle;
}
/* Instagram */
.instagram{
    width: 100%;
    display: flex;
    padding-bottom: 10px;

}
.instagram__img-wrapper{
    position: relative;
    flex: 1 0 20%;
}
.instagram__img-wrapper::after{
    content: "";
    display: inline-block;
    background-image: url("../img/icon.png");
    position: absolute;
    height: 26px;
    width: 26px;
    z-index: 1;
    bottom: 20px;
    right: 25px;
}

/* Footer */
.footer__top{
    background-color: #f6ab3b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 79px 100px 90px;
}
.footer__top-content{
    width: 1220px;
    display: flex;
    justify-content: space-between;
}
.footer__logo{
    display: flex;
    align-items: center;
}
.footer__information{
    display: flex;
    flex-direction:column;
}

.footer__information-list-item{
    
}
.footer__information-link{
    font-family: "MuliBold";
    color: #6d450c;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.45px;
}
.footer__title{
    font-family: "MuliExtraBold";
    color: #ffffff;
    font-size: 26px;
}
.footer__payment{
    display: flex;
    flex-direction: column;
}
.footer__payment-list{
    margin-top: 32px;
    width:  245px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 23px 18px;
}

.footer__subscription{
    display: flex;
    flex-direction: column;
}
.footer__email{
    margin-top: 35px;
    height: 60px;
    width: 495px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 23px 20px 23px 63px;
    font-family: "MuliBold";
    font-size: 17px;
    background-color: #ffffff;
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: 23px center;
}
input::placeholder{
    color:#6d450c;
}
.footer__subscription-follow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 27px 52px 0 0;
    position: relative;
}
.footer__subscription-follow::before{
    content: "";
    display: inline-block;
    background-image: url("../img/arrow-footer.png");
    width: 48px;
    height: 43px;
    position: absolute;
    right: 280px;
    bottom: 0;


}
.footer__subscription-button{
    height: 12px;
    width: 110px;
    font-family: "MuliExtraBold";
    font-size: 18px;
    color: #6d450c;
    text-transform: uppercase;
    background: transparent;
    letter-spacing: -0.36px;
    margin-right: 43px;
}

.footer__subscription-social{
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.footer__subscription-link:last-child{
    margin-right: 0;
}
.footer__caption{    
    display: flex;
    justify-content: center;
    background-color: #6c2c1c;    
    padding: 26px 21px;
    position: relative;
}
.footer__caption-rights{
    font-family: "MuliRegular";
    color: #af8a82;
    font-size: 13px;

}
.footer__caption-jump{
    font-family: "MuliBold";
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    right: 164px;
}
.footer__caption-button{
    height: 50px;
    width: 50px;
    background-color: #f2662f;
    position: absolute;
    right: 101px;
    top: -25px;
}
/* Здесь будут медиа запросы */





