/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular; 
    src: url(./assets/fonts/Muli-Regular.woff); 
}
@font-face {
    font-family: MuliBold; 
    src: url(./assets/fonts/Muli-Bold.woff); 
}
@font-face {
    font-family: MuliExtraBold; 
    src: url(./assets/fonts/Muli-ExtraBold.woff); 
}

@font-face {
    font-family: MuliExtraBoldItalic; 
    src: url(./assets/fonts/Muli-ExtraBoldItalic.woff); 
}
@font-face {
    font-family: PoppinsMedium; 
    src: url(./assets/fonts/Poppins-Medium.ttf); 
}
font-face {
    font-family: PoppinsSemiBold; 
    src: url(./assets/fonts/Poppins-SemiBold.ttf); 
}


/* Общие стили */
html,
body {
    background-color: rgb(245, 221, 8);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

a {
    text-decoration: none;
}


/* Header */
.header-top{
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 71px 100px 109px;
}

.nav ul{
    list-style-type: none;
    display: inline-block;
    display: inline-flex;
    font-family: MuliBold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.5;
    margin: 0 35px 0 35px;
}

.personal ul li{
    display: inline-block;
}
/* Smoothies */

/* About */


/* Products */


/* Story */


/* Testimonials */


/* Blog */


/* Instagram */


/* Footer */



/* Здесь будут медиа запросы */





