//main: ./../main.less

.header{
    height: 100vh;
    width: 100%;
    background-image: url("../img/header_bg.png");
    background-position: center;
    background-size: cover;
    &__top{
    padding: 70px 100px 105px;
    position: relative;
    }
    &__burger-icon{
        position: fixed;
    }
    &__close-btn{
        position: fixed;
    }
    &__navigation{
    .flex__row(space-between);
    align-items: center;
    width: 100%;
    }
    &__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    }
    &__block-right{
    .flex__row(center);
    align-items: center;
    }
    &__content{
    .flex__row(center);
    }
    &__btn{
    height: 70px;
    width: 280px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    -webkit-border-radius: 35px;
    font-size: 2.4rem;    
    }
}